# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environment
venv/
env/
.venv/

# Node
node_modules/
.next/

# .NET / Visual Studio outputs
.vs/
bin/
obj/

# local environment files
.env*
!.env.example